[submodule "lib/ds-test"]
	path = "lib/ds-test"
	url = "https://github.com/dapphub/ds-test"
[submodule "lib/forge-std"]
	path = "lib/forge-std"
	url = "https://github.com/brockelmore/forge-std"
[submodule "lib/prb-math"]
	path = "lib/prb-math"
	url = "https://github.com/paulrberg/prb-math"
[submodule "lib/prb-contracts"]
	path = "lib/prb-contracts"
	url = "https://github.com/paulrberg/prb-contracts"
