[submodule "lib/forge-std"]
  branch = "v1"
  path = "lib/forge-std"
  url = "https://github.com/foundry-rs/forge-std"
[submodule "lib/openzeppelin-contracts"]
  branch = "release-v4.9"
  path = "lib/openzeppelin-contracts"
  url = "https://github.com/OpenZeppelin/openzeppelin-contracts"
[submodule "lib/prb-math"]
  branch = "release-v4"
  path = "lib/prb-math"
  url = "https://github.com/PaulRBerg/prb-math"
[submodule "lib/prb-test"]
  branch = "release-v0"
  path = "lib/prb-test"
  url = "https://github.com/PaulRBerg/prb-test"
[submodule "lib/solady"]
  branch = "main"
  path = "lib/solady"
  url = "https://github.com/Vectorized/solady"
[submodule "lib/solarray"]
  branch = "master"
  path = "lib/solarray"
  url = "https://github.com/evmcheb/solarray"
