[profile.default]
  auto_detect_solc = false
  bytecode_hash = "none"
  evm_version = "shanghai"
  gas_limit = 9223372036854775807
  optimizer = true
  optimizer_runs = 570
  out = "out"
  script = "script"
  sender = "0x1804c8AB1F12E6bbf3894d4083f33e07309d1f38"
  solc = "0.8.26"
  contracts = "contracts"
  test = "tests"

[doc]
  ignore = ["**/*.t.sol"]
  out = "docs"
  repository = "https://github.com/sablier-labs/lockup"

[etherscan]
  etherscan = { key = "${ETHERSCAN_API_KEY}" }

[fmt]
  bracket_spacing = true
  int_types = "long"
  line_length = 120
  multiline_func_header = "all"
  number_underscore = "thousands"
  quote_style = "double"
  tab_width = 4
  wrap_comments = true

[rpc_endpoints]
  arbitrum = "${ARBITRUM_RPC_URL}"
  arbitrum_sepolia = "https://sepolia-rollup.arbitrum.io/rpc"
  avalanche = "${AVALANCHE_RPC_URL}"
  base = "https://mainnet.base.org"
  base_sepolia = "https://sepolia.base.org"
  berachain_artio = "https://bartio.rpc.berachain.com/"
  bnb = "https://bsc-dataseed.binance.org"
  gnosis = "https://rpc.gnosischain.com"
  linea = "https://rpc.linea.build"
  linea_sepolia = "https://rpc.sepolia.linea.build"
  localhost = "http://localhost:8545"
  mainnet = "${MAINNET_RPC_URL}"
  mode = "https://mainnet.mode.network/"
  mode_sepolia = "https://sepolia.mode.network/"
  optimism = "${OPTIMISM_RPC_URL}"
  optimism_sepolia = "https://sepolia.optimism.io"
  polygon = "${POLYGON_RPC_URL}"
  scroll = "https://rpc.scroll.io/"
  sei = "https://evm-rpc.sei-apis.com"
  sei_testnet = "https://evm-rpc.arctic-1.seinetwork.io"
  sepolia = "${SEPOLIA_RPC_URL}"
  taiko_hekla = "https://rpc.hekla.taiko.xyz"
  taiko_mainnet = "https://rpc.mainnet.taiko.xyz"
